<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Insider.Properties.Settings.dbConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Varsha_Insider\newDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="Insider.Properties.Settings.newDBConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Varsha_Insider\newDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
        providerName="System.Data.SqlClient" />
    <add name="Insider.Properties.Settings.newDBConnectionString1"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Varsha_Insider\newDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
